@font-face {
    font-family: 'Fixedsys Excelsior';
    src: url("../resources/fixedsys.ttf");
}

.root {
    -fx-background-image: url("../resources/images/tile.gif");
}


#panel {
	-fx-background-image: url("../resources/images/stone.png");
	-fx-border-color: black;
	-fx-border-width: 5;
    -fx-padding: 20, 20, 20, 20;
    -fx-spacing: 10;
}


.text {   
    -fx-font-family: 'Fixedsys Excelsior';
}

.text-field {
	-fx-font-size: 24px;
	-fx-font-family: 'Fixedsys Excelsior';
    -fx-background-insets: 0,1,2,3,0;
}


.list-cell {
    -fx-font-size: 24px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #ffca0c;
	-fx-text-fill: black;
}
.list-cell:filled:hover {
    -fx-background-color: #ebeef0;
	-fx-text-fill: black;
}

.choice-box .menu-item:focused { 
    -fx-background-color: #ffca0c;
	-fx-text-fill: black;
}
.choice-box .menu-item:focused > .label, .choice-box .menu-item > .label { 
    -fx-text-fill: black; 
}

.choice-box {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-font-size: 24px;
    -fx-background-insets: 0,1,2,3,0;
    -fx-padding: 5 5 5 5;
}

.choice-box:pressed {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 100%, #f8c202 50%, #eea10b 0%),
        linear-gradient(from 100% 100% to 85% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}

.choice-box:hover {
    -fx-text-fill: white;
}

.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-font-size: 24px;
    -fx-text-fill: #654b00;
    -fx-padding: 15 15 15 15;
}


.button:hover {
	-fx-text-fill: white;
}

.button:pressed {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 100%, #f8c202 50%, #eea10b 0%),
        linear-gradient(from 100% 100% to 85% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
}



