@font-face {
    font-family: 'Fixedsys';
    src: url("../resources/fixedsys.ttf");
}

.root {
    -fx-background-image: url("../resources/images/background.gif");
}

#panel {
    -fx-background-color: #FFFFFF;
    -fx-padding: 20, 20, 20, 20;
    -fx-spacing: 10;
}

.text {   
    -fx-font-size: 24px;
	-fx-font-family: 'Fixedsys';
}

.button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-size: 24px;
    -fx-padding: 25 20 25 20;
}

.pane {
    -fx-background-color: #cbc4d7;
}